/********************* COMMON **********************/
body {
	background-color: #222;
	color: white;
	font-family: sans-serif;
}

.little-container {
	width: 800px;
	margin: 0 auto;
}

.square {
	width: 80px;
	height: 80px;
	border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
}
