/********************* COMMON **********************/
body {
	background-color: #222;
	color: red;
	font-family: sans-serif;
}

.square {
	width: 80px;
	height: 80px;
	border: 2px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 3rem;
}

.square:hover {
	cursor: pointer;
}

#btn,
.select-input,
.easy-container,
.medium-container,
.hard-container {
	margin: 0 auto;
}

/* CONTAINERS */
.easy-container {
	width: 800px;
}

.medium-container {
	width: 720px;
}

.hard-container {
	width: 560px;
}
